<% provide(:title, 'Contact Us') %>
<h1>Contact</h1>
<<<<<<< HEAD
<p>
  What's up... I just created this contact
  page all on my own!
=======
<p><%= @contact.message %></p>
<p>---------------------</p>
<p><%= ContactUs.require_name ? t('.sent_by_name', :email => @contact.email, :name => @contact.name) : t('.sent_by_contact_form', :email => @contact.email) %>
>>>>>>> 8eb63bed2f75a21c8b9795068d831a9779e8cb88
</p>
