<% provide(:title, 'What We Do') %>
    <h1>What We Do</h1>
    <p>
      Get help on the ruby on Rails Tutorial at the
      <a href="http://railstutorial.org/help>Rails Tutorial help page</a>.
      To get help on this sampl app, see the
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>
    </p>
