<div class="center hero-unit">
  <h1>Advanced Bio Energy Systems: </h1>

  <h2>
    Clean Energy Solutions for a Brighter Future
  </h2>

  <%= link_to "Learn More Now!", '/what_we_do', class: "btn btn-large btn-primary" %>
</div>


