<div class="center hero-unit">
  <h1>Advanced Bio Energy Systems: </h1>

  <h2>
<<<<<<< HEAD
    This is the home page for the
    <a href="http://railstutorial.org/">Getting Started on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
=======
    Clean Energy Solutions for a Brighter Future
  </h2>

  <%= link_to "Learn More Now!", '/what_we_do', class: "btn btn-large btn-primary" %>
>>>>>>> 8eb63bed2f75a21c8b9795068d831a9779e8cb88
</div>


