<% provide(:title, 'What We Do') %>
    <h1>What We Do</h1>
    <p>
      We turn organic waste from municipalities and farms into energy that can either be used onsite or sold back to the utility company. 
   
    </p>
