<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "A B E S", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "Who We Are",    '/who_we_are' %></li>
          <li><%= link_to "What We Do", '/what_we_do' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
